@import url("https://use.typekit.net/tfh4ugg.css");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* colours */
  --sidebar-bg: #1e1e2c; /* Deep muted indigo */
  --header-bg: #262641; /* Darker navy */
  --main-body-bg: #121212; /* Dark gray */
  --footer-bg: #1a1a27; /* Slightly lighter gray */

  /* Text Colors */
  --text-light: #e0e0e0; /* Light gray for text */
  --text-highlight: #ffffff; /* White for headings */

  /* Accent Colors */
  --accent: #4f8cfd; /* Nebula blue */
  --accent-hover: #5c9eff; /* Glowing blue for hover effects */

  /* Divider/Border */
  --divider: #2e2e40; /* Subtle gray for dividers and borders */

  /* --main-red: #1d2f40;
  --dark-grey: #466c8c;
  --light-grey: #64a8c8;

  --bg-c: #505064;


  --black: #000;
  --white: #fff; */
  /* fonts */
  --primary-font: "Asap", sans-serif;
  --secondary-font: "Asap", sans-serif;
  --tertiary-font: "altivo", sans-serif;

  /* font sizes */

  /* Radii */

  /* padding */

  --main-padding: 0 5rem;
}

/* temporary */
main {
  min-height: 65vh;
}
body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  :root {
    --main-padding: 0 2rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-light);
}

h1 {
  font-size: 2.5rem; /* Main page heading */
  line-height: 1.2; /* Slightly tighter line spacing */
}

h2 {
  font-size: 2rem; /* Section headings */
  line-height: 1.3;
}

h3 {
  font-size: 1.75rem; /* Sub-section headings */
  line-height: 1.4;
}

h4 {
  font-size: 1.5rem; /* Smaller sub-headings */
  line-height: 1.5;
}

h5 {
  font-size: 1.25rem; /* Smallest heading */
  line-height: 1.5;
}

/* Paragraphs */
p {
  font-size: 1rem; /* Standard body text size */
  line-height: 1.6; /* Readable line spacing */
  margin: 0 0 1rem; /* Space below each paragraph */
  color: var(--text-light); /* Slightly lighter text color */
}
