@import url("https://use.typekit.net/tfh4ugg.css");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* colours */
  --sidebar-bg: #1e1e2c; /* Deep muted indigo */
  --header-bg: #262641; /* Darker navy */
  --main-body-bg: #121212; /* Dark gray */
  --footer-bg: #1a1a27; /* Slightly lighter gray */

  /* Text Colors */
  --text-light: #e0e0e0; /* Light gray for text */
  --text-highlight: #ffffff; /* White for headings */

  /* Accent Colors */
  --accent: #4f8cfd; /* Nebula blue */
  --accent-hover: #5c9eff; /* Glowing blue for hover effects */

  /* Divider/Border */
  --divider: #2e2e40; /* Subtle gray for dividers and borders */

  /* --main-red: #1d2f40;
  --dark-grey: #466c8c;
  --light-grey: #64a8c8;

  --bg-c: #505064;


  --black: #000;
  --white: #fff; */
  /* fonts */
  --primary-font: "Asap", sans-serif;
  --secondary-font: "Asap", sans-serif;
  --tertiary-font: "altivo", sans-serif;

  /* font sizes */

  /* Radii */

  /* padding */

  --main-padding: 0 5rem;
}

/* temporary */
main {
  min-height: 65vh;
}
body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  :root {
    --main-padding: 0 2rem;
  }
}
